html
  head
    title #{title}
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/index.css")
   
      
  body
    block content
    block scripts
    script(src="js/jquery.min.js")
    script(src="bootstrap/js.bootstap.bundel.js")
    script(src="bootstrap/js/bootstrap.min.js")